    body{
        background-color: black !important;
        color: whitesmoke !important;
        font-size: 30px;
    }
    .ingredient-item {
        text-align: center;

        padding: 15px;
        border: 1px solid #dbd7d7;
        margin: 15px;
        border-radius: 5px;
    }
    .clickable {
        cursor: pointer;
    }

    /* meal */
    .meal-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: #fff;
    }
    
    /* Styling for meal images */
    .meal-image {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    /* Styling for meal names */
    .meal-name {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }
    
    /* Styling for meal details */
    .meal-details {
        font-size: 16px;
        margin: 10px 0;
    }